
.content_wrapper {
    margin: 120px 0 160px 0;
    @media (min-width: 768px) {
        margin: 120px 0;
    }
}

.content_title {
    background: transparent;
    padding: 0 20px;
    gap: 8px;
    height: 30px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #44444480;
    width: fit-content;
    span {
        font-weight: 200;
        font-size: 12px;
        color: #AAAAAA;
    }
    @media (min-width: 768px) {
        padding: 0 32px;
        height: 43px;
        span {
            font-size: 16px;
        }
    }
    @media (min-width: 1440px) {
        height: 51px;
        gap: 12px;
        border-radius: 32px;
        color: #FFFFFF;
        background: #2C2C2CA3;

    }
}
.content_description {
    color: #FFFFFF;
    font-weight: 300;
    text-align: left;
    margin: 20px 0 40px 0;
    font-size: 16px;
    @media (min-width: 768px) {
        width: 455px;
    }
    @media (min-width: 1440px) {
        text-align: unset;
        font-size: 32px;
        font-weight: 400;
        width: 702px;
        margin: 32px 0 80px 0;
    }
}

.cards_wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
    @media (min-width: 768px) {
        gap: 20px;
    }
    @media (min-width: 1440px) {
        gap: 23px;
    }
}

.card {
    position: relative;
    z-index: 0;
    transition: background-image 0.2s;
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding: 16px;
    width: 256px;
    height: 410px;
    img {
        z-index: 2;
        width: 224px;
        height: 148px;
        object-fit: contain;
    }
    @media (min-width: 768px) {
        width: 334px;
        height: 355px;
        padding: 20px;
        img {
            width: 294px;
            height: 148px;
            object-fit: cover;
            border-radius: 16px;
        }
    }
    @media (min-width: 1440px) {
        width: 431px;
        height: 554px;
        padding: 20px;
        img {
            width: 390px;
            height: 240px;
        }
    }
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    background-image: url("../assets/services/mobile_card_background.svg");
    transform: scaleY(1.03);


    @media (min-width: 768px) {
        background-image: url("../assets/services/tablet_card_background.svg");
        transform: scaleY(1);
    }
    @media (min-width: 1440px) {
        background-image: url("../assets/services/card_background.png");
    }
}

.card:hover::before {
    @media (min-width: 1440px) {
        overflow: visible;
        transform: scaleX(1.12) scaleY(1.10);
        background-image: url("../assets/services/card_background_hover.png");
        border-radius: 24px;
    }
}
.card_title {
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 12px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 1440px) {
        font-size: 32px;
        margin-bottom: 16px;
    }
}
.card_description {
    z-index: 2;
    font-weight: 100;
    font-size: 16px;
    color: #FFFFFF;
    @media (min-width: 1440px) {
        font-size: 20px;
    }
}
.card_button_wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card_button_gradient_layer {
    background: linear-gradient(#8CEB9AB2, #4F855700);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px 0px #8CEB9A0D,
    0px -4px 4px 0px #8CEB9A0D;
    border-radius: 8px;
    width: 103px;
    height: 36px;
    @media (min-width: 768px) {
        width: 132px;
        height: 36px;
    }
    @media (min-width: 1440px) {
        border-radius: 16px;
        width: 189px;
        height: 48px;
    }
}

.pc_button_span {
    display: none;
    @media(min-width: 768px) {
        display: flex;
    }
}
.mobile_button_span {
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
}
.card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97%;
    width: 99%;
    background: #111111;
    border-radius: 8px;
    cursor: pointer;
    gap: 8px;
    padding: 0 22px;
    span {
        text-wrap: nowrap;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
    }
    svg {
        width: 16px;
        height: 16px;
    }
    @media (min-width: 768px) {
        padding: 0 10px;
    }
    @media (min-width: 1440px) {
        gap: 16px;
        padding: 0 24px;
        border-radius: 16px;
        span {
            font-size: 16px;
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }

}

.section_how {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.how_title_wrapper {
    display: flex;
    width: fit-content;
    align-items: center;
    background: transparent;    
    border: 1px solid #44444480;
    height: 30px;
    gap: 8px;
    padding: 0 20px;
    border-radius: 24px;
    span {
        font-size: 12px;
        font-weight: 200;
        color: #AAAAAA;
    }
    @media (min-width: 768px) {
        height: 43px;
        padding: 0 32px;
        span {
            font-size: 16px;
            font-weight: 200;   
        }
    }
    @media (min-width: 1440px) {
        height: 51px;
        gap: 12px;
        border-radius: 32px;
        background: #2C2C2CA3;
        span {
            color: #FFFFFF;
        }
    }
}

.how_description {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        font-size: 16px;
        color: #FFFFFF;
        margin: 20px 0 40px 0;
        font-weight: 300;
        width: 568px;
        text-align: right;
    }
    @media (min-width: 1440px) {
        width: 909px;
        font-size: 32px;
        font-weight: 400;
        margin: 32px 0 80px 0;
    }
}
.how_description_mobile {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    margin: 20px 0 40px 0;
    color: #FFFFFF;
    @media (min-width: 768px) {
        display: none;
    }
}
.options_wrapper {
    position: relative;
    width: 100%;
    height: 414px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (min-width: 768px) {
        height: 506px;
    }
    @media (min-width: 1440px) {
        height: 536px;
    }
}

.option_wrapper {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    background: #2C2C2C;
    border: 1px solid #8CEB9A33;
    box-shadow: 4px 4px 20px 0px #8CEB9A1F, -4px -4px 20px 0px #8CEB9A1F;
    border-radius: 32px;
    width: fit-content;
    padding: 12px 20px;
    text-align: center;
    span {
        font-size: 14px;
        font-weight: 300;
        color: #FFFFFF;
    }
    img {
        width: 20px;
        height: 20px;
    }
    @media (min-width: 768px) {
        height: 50px;
        padding: 0 32px;
        align-items: center;
        span {
            font-size: 16px;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
    @media (min-width: 1440px) {
        height: 56px;
        span {
            font-size: 20px;
        }
        img {
            width: 32px;
            height: 32px;
        }
    }
}
.first_option {
    text-wrap: nowrap;
    @media (min-width: 768px) {
        position: absolute;
        right: 24px;
        top: 0;
    }
    @media (min-width: 1440px) {
        right: 220px;
        top: 0;
    }
}
.second_option {
    @media (min-width: 768px) {
        position: absolute;
        top: 114px;
        left: 0;
    }
    @media (min-width: 1440px) {
        left: 170px;
        top: 120px;
    }
}
.third_option {
    @media (min-width: 768px) {
        position: absolute;
        right: 101px;
        top: 228px;
    }
    @media (min-width: 1440px) {
        left: 406px;
        top: 240px;
    }
}
.fourth_option {
    @media (min-width: 768px) {
        position: absolute;
        right: 0;
        bottom: 114px;
    }
    @media (min-width: 1440px) {
        right: 192px;
        top: 360px;
    }
}
.fifth_option {
    @media (min-width: 768px) {
        position: absolute;
        left: 24px;
        bottom: 0;
    }
    @media (min-width: 1440px) {
        left: 204px;
        bottom: 0;
    }
}