@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-UltraLight.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-Thin.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-Thin.woff') format('woff');
    font-weight: 1;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-Regular.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-Medium.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-Light.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('../assets/fonts/e-Ukraine-Bold.woff2') format('woff2'),
    url('../assets/fonts/e-Ukraine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    line-height: 1.5;
    font-family: 'e-Ukraine', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}


button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}